#content {
    text-align: center;
    position: relative;
    top: 20%;
}
img {
    padding: 20 35 20 35;
    width: 147;
    height: 177;
}
.info {
    font-size: 24px;
    /* width: 50%; */
    height: 30%;
    overflow: auto;
}